@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

header{
    background-color: #DB1284;
    height: 225px;
    width: 100%;
}

/* HEADER NA PARTE DE CIMA DA PAGINA */

.header-cima{
    margin: 0 auto;
    width: 95%;
}

.header-top{
    display: flex;
    justify-content: center;padding: 10px;
    border-bottom: 1px solid #f7f7f74d;
}

.login-area{
    margin: auto;
    margin-left: 20px;
    width: 42.5%;
}

.login-area p a {
    text-decoration: none;
    color: white;
}

.login-area p a:hover{
    text-decoration: underline;
}

.sociais{
    margin: auto;
    width: 15%;
}

.sociais img{
    width: 20px;
    cursor: pointer;
}

.assistencia{
    margin: auto;
}

.assistencia a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.assistencia a:hover{
    text-decoration: underline;
}


/* FIM DO HEADER DE CIMA */

/* Inicio cabeçalho logo, barra de pesquisa, atendimento e carrinho */

.header-center{
    margin: 0;
}

.header-center-centralizado{
    margin: 0 auto;
    width: 93%;
    padding: 10px;
    height: 50px;
    border-bottom: 1px solid #f7f7f74d;
}

#logo{
    float: left;
    width: 47%;
    height: 50px;
    margin: 0 auto;
    margin-left: 20px;
    cursor: pointer;
}

#carrinho{
    width: 40px;
    height: 36px;
    cursor: pointer;
    padding-top: 3%;
}

#button-pesquisar{
    width: 120%;
    height: 46px;
    text-indent: 10px;
    background-image: url(../imagens/lupa.png);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 30px;
    cursor: pointer;
}

.logo, .pesquisa{
    float: left;
    width: 30%;
}

.carrinho{
    float: right;
    width: 10%;
}

/* FIM DO HEADER CENTER */

/* Inicio cabeçalho menu */

.centralizar-menu{
    width: 95%;
    margin: 0 auto;
    height: 57px;
    border-bottom: 1px solid #f7f7f74d;
}

.menu-itens{
    width: 100%;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 8%;
}

ul li{
    float: left;
    padding: 1%;
    margin: 0 2%;
}

 ul a{
    padding: 0 2em;
    line-height: 2em; 
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bolder;
 }

